---
version: "2.1"
services:
  supysonic:
    image: ugeek/supysonic:amd64-0.5.0
    container_name: supysonic 
    # environment:
    #   - AUDIOBOOKSHELF_UID=1000
    #   - AUDIOBOOKSHELF_GID=1000
    #ports:
    #  - 8080:8080
    expose:
     - 8080
    volumes:
      - /home/jesalctag/Docker/supysonic:/var/lib/supysonic
      - /home/jesalctag/Docker/supysonic/media:/media
    restart: unless-stopped
    networks: ["nginx_default"]   
networks:
    nginx_default:
        external: true    
        
 #sudo docker exec -it supysonic sh
 #supysonic-cli user add "chosen_user" -a -p "your_pass"