version: "2"
services:
  ackee:
    image: electerious/ackee
    container_name: ackee
    restart: always
    ports:
      - "3000:3000"
    environment:
      - WAIT_HOSTS=mongo:27017
      - ACKEE_MONGODB=mongodb://mongo:27017/ackee
    env_file:
      - .env
    depends_on:
      - mongo
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    volumes:
      - ./data:/data/db#


#https://github.com/electerious/Ackee



#https://github.com/electerious/Ackee/blob/master/docs/Get%20started.md#with-docker-compose

###.env

# ACKEE_USERNAME=username
# ACKEE_PASSWORD=password