version: '3'

services:
  matomo:
    image: matomo:latest
    container_name: matomo
    ports:
      - "80:80"    # Change to desired port if not using SSL
    environment:
      - MATOMO_DATABASE_HOST=db
      - MATOMO_DATABASE_NAME=matomo
      - MATOMO_DATABASE_USER=matomo
      - MATOMO_DATABASE_PASSWORD=password
      - MATOMO_ENABLE_TRUSTED_HOST_CHECK=0    # Disable trusted host check if accessing Matomo from different domains
    volumes:
      - ./matomo-data:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:5.7
    container_name: matomo-db
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=matomo
      - MYSQL_USER=matomo
      - MYSQL_PASSWORD=password
    volumes:
      - ./mysql-data:/var/lib/mysql


#https://matomo.org/matomo-on-premise/
#https://www.reddit.com/r/webdev/comments/111e0hg/selfhosted_web_analytics_plausible_umami_matomo/