#https://fossengineer.com/selfhosting-umami-with-docker/
# ##admin // umami
#https://fossengineer.com/selfhosting-cloudflared-tunnel-docker/

#version: '3'
services:
  umami: #https://github.com/umami-software/umami/releases
    image: ghcr.io/umami-software/umami:postgresql-latest ## ##admin // umami
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://umami:umami@db:5432/umami
      DATABASE_TYPE: postgresql
      HASH_SALT: "your-very-strong-and-long-random-string" # Important!
      #openssl rand -base64 32
    depends_on:
      - db
    restart: always
    networks:
      - umami_network # Use a dedicated network
      - cloudflare_tunnel
  db:
    image: postgres:12-alpine
    environment:
      POSTGRES_DB: umami
      POSTGRES_USER: umami
      POSTGRES_PASSWORD: umami
      POSTGRES_INITDB_ARGS: "--auth-host=scram-sha-256 --auth-local=scram-sha-256" #Stronger authentication
    volumes:
      - ./sql/schema.postgresql.sql:/docker-entrypoint-initdb.d/schema.postgresql.sql:ro #Relative path
      - umami-db-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - umami_network #Use a dedicated network
volumes:
  umami-db-data:
networks:
  umami_network:
    driver: bridge #Explicitly define the network driver.
  # nginx_default:
  #   external: true     
  # cloudflare_tunnel:
  #   external: true


# ---
# version: '3'
# services:
#   umami:
#     image: ghcr.io/umami-software/umami:postgresql-latest
#     ports:
#       - "3000:3000"
#     environment:
#       DATABASE_URL: postgresql://umami:umami@db:5432/umami
#       DATABASE_TYPE: postgresql
#       HASH_SALT: replace-me-with-a-random-string
#     depends_on:
#       - db
#     restart: always
#     networks: ["nginx_default"] 
#   db:
#     image: postgres:12-alpine
#     environment:
#       POSTGRES_DB: umami
#       POSTGRES_USER: umami
#       POSTGRES_PASSWORD: umami
#     volumes:
#       - /home/jesalctag/Docker/umami/sql/schema.postgresql.sql:/docker-entrypoint-initdb.d/schema.postgresql.sql:ro
#       - /home/jesalctag/Docker/umamiumami-db-data:/var/lib/postgresql/data
#     restart: unless-stopped
# volumes:
#   umami-db-data:
   
# # networks:
# #     nginx_default:
# #         external: true     

